[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
ring = "*"
uwuipy = "*"
requests = "*"
sqlmodel = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
